# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*

# =========================
# Environment variables
# =========================
.env
backend/.env

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Build folders
# =========================
dist/
build/

# =========================
# Temporary / Cache
# =========================
.cache/
coverage/

# =========================
# Misc
# =========================
*.pid
*.seed